.pageBackground {
 position:absolute;
 left:50%;
 top:50%;
 transform:translate(-50%,-50%);
 filter:blur(10px)
}
.pageContainer {
 height:900px;
}
.pageTitle {
 font-weight:300;
 position:relative;
 left:50%;
 transform:translateX(-50%);
 top:90px;
 width:fit-content;
 font-size:27px;
}
.reportContainer {
 background-color: rgba(255, 255, 255, 0.08);
 width:783px;
 padding: 50px 0;
 border-radius:31px;
 border:1px white solid;
 position:relative;
 left:50%;
 top:50%;
 transform:translate(-50%,-60%);
 padding-left:25px;
 display:flex;
 gap:20px
}
.police {
 position:relative;
 top:50px;
 width:330px;
 height:402px;
 align-self: flex-end;
}