.signupForm {
 display:flex;
 flex-direction:column;
 gap:20px;
 align-self: center;
}
.signupForm input, 
.signupForm select {
 background-color:#09000E;
 color:white;
 font-weight:200;
 width:459px;
 height:45px;
 border:.5px rgba(255,255,255,.5) solid;
 border-radius:15.5px;
 padding-left:15px;
 transition-duration:.4s;
 font-family:'__Nunito_1bd2a6', '__Nunito_Fallback_1bd2a6';
}
.signupForm input:focus {
 outline:0px white solid;
}
.signupForm input::placeholder {
 opacity:60%;
 font-size:20px;
 font-weight:200;
}
.signupBut {
 width:459px;
 height:65px;
 border-radius:18px;
 border:none;
 background-image:linear-gradient(to right,#0A0918,#0F0212);
 transition-duration:.4s;
 font-family:'__Nunito_1bd2a6', '__Nunito_Fallback_1bd2a6';
 color:white;
 font-size:30px;
 font-weight:100;
 cursor:pointer;
}
.signupBut:hover {
 color:#0A0918;
 background: white;
}
.errorMes {
 color:crimson;
 font-size:16px;
 font-weight:100;
 padding-bottom:5px;
}