.pageContainer {
 display: flex;
 flex-direction: column;
 gap:20px;
}
.userInfoContainer {
 width:1150px;
 height:410px;
 border-radius:16px;
 background-color:rgba(255,255,255,.06);
 border:1px rgba(255,255,255,.5) solid;
 position:relative;
 margin:46.5px 0 0 30px;
 padding:30px;
 display:flex;
 gap:30px;
}
.personalInfo {
 display:flex;
 flex-direction: column;
 gap:15px;
}
.personalInfo .head {
 display:flex;
 flex-direction: row;;
 width:fit-content;
 align-items:center;
 gap:20px;
}
.avatarcontainer {
 width:160px;
 height:160px;
 border-radius:80px;
 display: flex;
 justify-content: center;
 align-items: center;
 position:relative;
 overflow: hidden;
}
.personalInfo .head .titles h1 {
 font-size:27px;
}
.personalInfo .head .titles p {
 font-weight:200;
 font-size:15px;
 opacity:80%;
}
.personalInfo .extraDetails {
 display: flex;
 flex-direction:column;
 gap:20px;
}
.info {
 display:flex;
 align-items: center;
 margin-left:20px;
}
.info p {
 font-weight:200;
 font-size:15px;
 opacity:85%;
}
.recentAlbumsContainer {
 position:absolute;
 top:180px;
 left:210px;
 font-weight:300;
 font-size:18px;
}
.recentAlbums {
 display:flex;
 gap:15px;
 position:relative;
 left:-10px
}
.worldUser {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap:70px;
}
.worldUser .awards {
 display:flex;
 gap:30px;
}
.albumsMainContainer {
 width:1150px;
 height:max-content;
 border-radius:16px;
 background-color:rgba(255,255,255,.06);
 border:1px rgba(255,255,255,.5) solid;
 position:relative;
 margin-left:30px;
 padding:30px;
 justify-items: center;
}
.albumsMainContainer .titles {
 display: flex;
 gap:5px;
 margin-bottom:20px;
}
.albumsMainContainer .titles p {
 opacity:60%
}
.albumsContainer {
 display:grid;
 grid-template-columns: 30% 30% 30%;
 column-gap:50px;
 row-gap:30px;
}