
.contactContainer {
 background-color: rgba(255, 255, 255, 0.08);
 width:908px;
 height:649px;
 border-radius:31px;
 border:1px white solid;
 position:relative;
 left:50%;
 transform:translateX(-50%);
 padding-left:25px;
 display:flex;
 gap:50px;
 align-items: center;
 top:120px;
 margin-bottom:155px;
}

.pageTitle {
 font-weight:300;
 position:relative;
 left:50%;
 transform:translateX(-50%);
 top:70px;
 width:fit-content;
 font-size:27px;
}
.contactImage {
 width:280px;
 height:280px;
}
@media(max-width:930px) {
 .contactImage {
  display:none;
 }
 .contactContainer {
  justify-content: center;
  width:95%;
  padding-left:0;
 }
}
@media(max-width:550px) {
 .contactContainer {
  width:100%;
  border-radius:0;
  border-left-width:0;
  border-right-width:0;
 }
}