.followButLight {
 border:.2px transparent solid;;
 background-color: white;
 width:531px;
 height:68px;
 border-radius:14px;
 color: #09000E;
 font-weight:300;
 font-size:20px;
 cursor:pointer;
 transition-duration:.4s;
 position:relative;
 left:10px;
}
.followButDark {
 border:.2px rgba(255, 255,255 ,.4) solid;;
 background-color:transparent;
 width:531px;
 height:68px;
 border-radius:14px;
 font-weight:300;
 color:white;
 font-size:20px;
 cursor:pointer;
 transition-duration:.4s;
 position:relative;
 left:10px;
}